<div class="news-head">
    <h2 class="news-head__title">новости</h2>

    <div class="news__wrap">
        <div class="news__item">
            <h3 class="news__item-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, doloremque.</h3>
            <img src="images/GetImage.jpeg" alt="" class="news__item-img">
            <div class="news__item-text">
                <p class="news__item-text-content">Lorem ipsum dolor sit amet,
                     consectetur adipisicing elit. Esse qui autem odit cum cumque 
                     iste ab id delectus ullam molestias doloremque voluptates 
                     suscipit, quae dolore illum placeat perspiciatis possimus 
                     praesentium maiores asperiores? Ea iure, beatae ipsa vel 
                     impedit pariatur laborum molestiae consectetur commodi veniam,
                      obcaecati quam? Tenetur laboriosam enim expedita!</p>
            </div>
        </div>
    </div>
</div>