<footer class="foot">
    <div class="foot-wrap">
            <p>Генеральный партнер</p>
        <section class="general-partner">
            <div class="foot__item">ген партнер</div>
        </section>
            <p>Официальные спонсоры</p>
        <section class="of-sponsors">
            <div class="foot__item">оф спонсор</div>
            <div class="foot__item">оф спонсор</div>
            <div class="foot__item">оф спонсор</div>
        </section>
            <p>Официальные партнеры</p>
        <section class="of-partners">
            <div class="foot__item">оф партнеры</div>
            <div class="foot__item">оф партнеры</div>
            <div class="foot__item">оф партнеры</div>
        </section>
            <p>Друзья турнира</p>
        <section class="tech-partners">
            <div class="foot__item">Друзья турнира</div>
            <div class="foot__item">Друзья турнира</div>
            <div class="foot__item">Друзья турнира</div>
        </section>
            <p>Информационные партнеры</p>
        <section class="info-partners">
            <div class="foot__item">тех партнеры</div>
            <div class="foot__item">тех партнеры</div>
            <div class="foot__item">тех партнеры</div>
        </section>
    </div>
</footer>