<footer class="foot">
    <div class="foot-wrap">
        <div class="foot__item">спонсор</div>
        <div class="foot__item">спонсор</div>
        <div class="foot__item">спонсор</div>
        <div class="foot__item">спонсор</div>
        <div class="foot__item">спонсор</div>
        <div class="foot__item">спонсор</div>
        <div class="foot__item">спонсор</div>
        <div class="foot__item">спонсор</div>
    </div>
</footer>