<header class="head">
        <div class="logo">
            <a href="#">
                <img class="logo__img" src="images/Logo.min2.png" alt="Кубок наций 2019">
            </a>
        </div>
        <div class="menu">
            <a href="#" class="menu__item">Главная</a>
            <a href="#" class="menu__item">новости</a>
            <a href="#" class="menu__item">меню 3</a>
            <a href="#" class="menu__item">меню 4</a>
            <a href="#" class="menu__item">меню 5</a>
        </div>
    </header>