<header class="head">
        <div class="logo">
            <a href="#">
                <img src="#" alt="">
            </a>
        </div>
        <div class="menu">
            <a href="#" class="menu__item">Главная</a>
            <a href="#" class="menu__item">меню 2</a>
            <a href="#" class="menu__item">меню 3</a>
            <a href="#" class="menu__item">меню 4</a>
            <a href="#" class="menu__item">меню 5</a>
        </div>
    </header>