<header class="head">
        <div class="logo">
            <a class="logo-link" href="#">
                <img class="logo__img" src="images/Logo.min2.png" alt="Кубок наций 2019">
            </a>
            <h1 class="tornament-name">кубок наций 2019</h1>
        </div>
        <div id='menu' class="menu">
            <a data-menu='main' href="#" class="menu__item menu__item-active">Главная</a>
            <a data-menu='news' href="#" class="menu__item">новости</a>
            <a data-menu='teams' href="#" class="menu__item">команды</a>
            <a data-menu='statistic' href="#" class="menu__item">статистика</a>
            <a href="#" class="menu__item">расписание</a>
            <a href="#" class="menu__item">трансляция</a>
        </div>
</header>