<div class="result">
    <div class="result__title">
        <h3>последние результаты</h3>
    </div>
    <div class="result__wrap">
        <div class="result__match">
            <div class="match__title">
                <h3 class="match__name">группа А</h3>
            </div>
            <div class="match__info">
                <a class="teams__link match-team" href="#">
                    <h3 class="teams__link-title">россия</h3>
                </a>
                <div class="match__score">
                    <a href="" class="match__score-title">3-2</a>
                    <div class="match__score-info">
                        <a href="" class="set__info"> <span>25</span>:20</a>
                        <a href="" class="set__info">21:25</a>
                        <a href="" class="set__info">9:25</a>
                        <a href="" class="set__info">25:8</a>
                        <a href="" class="set__info">13:15</a>
                    </div>
                </div>
                <a class="teams__link match-team" href="#">
                    <h3 class="teams__link-title">гонконг</h3>
                </a>
            </div>
        </div>
        <div class="result__match">
            <div class="match__title">
                <h3 class="match__name">группа А</h3>
            </div>
            <div class="match__info">
                <a class="teams__link match-team" href="#">
                    <h3 class="teams__link-title">франция</h3>
                </a>
                <div class="match__score">
                    <a href="" class="match__score-title">3-2</a>
                    <div class="match__score-info">
                        <a href="" class="set__info">(25-20)</a>
                        <a href="" class="set__info">21-25</a>
                        <a href="" class="set__info">9-25</a>
                        <a href="" class="set__info">25-8</a>
                        <a href="" class="set__info">13-15</a>
                    </div>
                </div>
                <a class="teams__link match-team" href="#">
                    <h3 class="teams__link-title">новосибирская область</h3>
                </a>
            </div>
        </div>
    </div>
</div>