<div class="pools-wrap">
    <div class="pools-title">
        <h3>Группы</h3>
    </div>
    <div class="pools-menu">
        <div data-group = 'A' class="pools-menu__item pools-menu__item-active"><h2>A</h2></div>
        <div data-group = 'B' class="pools-menu__item"><h2>B</h2></div>
        <div data-group = 'C' class="pools-menu__item"><h2>C</h2></div>
        <div data-group = 'D' class="pools-menu__item"><h2>D</h2></div>
    </div>
    <div class="pools-list">
        <div data-group = 'A' class="pools-list__item pools-list__item-active">
            <div class="pools-list__title">
                <div class="title-name">
                    <h4>место</h4>
                    <h4>команда</h4>
                </div>
                <div class="title-result">
                    <h4>игры</h4>
                    <h4>в</h4>
                    <h4>п</h4>
                    <h4>разница сетов</h4>
                    <h4>разница мячей</h4>
                </div>
            </div>
            <ul class="comand-list">
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/hkg.jpg" alt="" >
                        <h3 class="teams__link-title">гонконг</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/pol.jpg" alt="" >
                        <h3 class="teams__link-title">польша</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/jpn.jpg" alt="" >
                        <h3 class="teams__link-title">япония</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/nso.jpg" alt="" >
                        <h3 class="teams__link-title">нсо</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
            </ul>
        </div>
        <div data-group = 'B' class="pools-list__item">
            <div class="pools-list__title">
                <div class="title-name">
                    <h4>место</h4>
                    <h4>команда</h4>
                </div>
                <div class="title-result">
                    <h4>игры</h4>
                    <h4>в</h4>
                    <h4>п</h4>
                    <h4>разница сетов</h4>
                    <h4>разница мячей</h4>
                </div>
            </div>
            <ul class="comand-list">
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/hkg.jpg" alt="" >
                        <h3 class="teams__link-title">гонконг</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/pol.jpg" alt="" >
                        <h3 class="teams__link-title">польша</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/jpn.jpg" alt="" >
                        <h3 class="teams__link-title">япония</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
                <li class="comand-list__item">
                    <p>0</p>
                    <a class="teams__link" href="#">
                        <img class="teams__link-img" src="images/nso.jpg" alt="" >
                        <h3 class="teams__link-title">нсо</h3>
                    </a>
                    <div class="item-result">
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pools-list__item"></div>
        <div class="pools-list__item"></div>
    </div>
</div>