<div class="teams">
    <div class="teams__title">
        <h3>участники</h3>
    </div>
    <div class="teams__item">
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                <img class="teams__link-img" src="" alt="" >
                <h3 class="teams__link-title"></h3>
            </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                <img class="teams__link-img" src="images/hkg.jpg" alt="" >
                <h3 class="teams__link-title">гонконг</h3>
            </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/pol.jpg" alt="" >
                    <h3 class="teams__link-title">польша</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/jpn.jpg" alt="" >
                    <h3 class="teams__link-title">япония</h3>
                </a>
            </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/nso.jpg" alt="" >
                    <h3 class="teams__link-title">нсо</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/arm.jpg" alt="" >
                    <h3 class="teams__link-title">армения</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/aus.jpg" alt="" >
                    <h3 class="teams__link-title">австралия</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/fra.jpg" alt="" >
                    <h3 class="teams__link-title">франция</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/gbr.jpg" alt="" >
                    <h3 class="teams__link-title">великобритания</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/kaz.jpg" alt="" >
                    <h3 class="teams__link-title">казахстан</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/kgz.jpg" alt="" >
                    <h3 class="teams__link-title">киргизия</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/mys.jpg" alt="" >
                    <h3 class="teams__link-title">малайзия</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/rou.jpg" alt="" >
                    <h3 class="teams__link-title">румыния</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/rus.jpg" alt="" >
                    <h3 class="teams__link-title">россия</h3>
                </a>
        </div>
        <div class="teams__link-wrap">
            <a class="teams__link" href="#">
                    <img class="teams__link-img" src="images/hkg.jpg" alt="" >
                    <h3 class="teams__link-title">гонконг</h3>
                </a>
        </div>
    </div>
</div>
