<div class="teams">
    <div class="teams__title">
        <h3>участники</h3>
    </div>
    <div class="teams__item">
        <a class="teams__link" href="#">
            <div class="teams__link-wrap">
                <img class="teams__link-img" src="images/flags/Russia.jpg" alt="" >
                <h3 class="teams__link-title">Россия</h3>
            </div>
        </a>
        <a class="teams__link" href="#">
            <div class="teams__link-wrap">
                <img class="teams__link-img" src="images/flags/Honkong.jpg" alt="" >
                <h3 class="teams__link-title">гонконг</h3>
            </div>
        </a>
    </div>
</div>