<div class="teams-head">
    <h2 class="teams-head__title">команды</h2>
    <div class="teams-select">
        <div class="teams__link">
            {{!-- <img id="targetImg" class="teams__link-img" src="" alt="" > --}}
            <h3 id="targetName" class="teams__link-title"></h3>
        </div>
        <div class="teams-select__item"></div>
    </div>
    <div class="teams-list">
        <ul class="list-view">
            
        </ul>
    </div>
</div>
    <div class="team-info">
        <div class="info-menu">
            <a data-name="team" class="info-menu__item info-menu__item-active">о команде</a>
            <a data-name="players" class="info-menu__item">игроки</a>
            <a data-name="statistic" class="info-menu__item">статистика</a>
        </div>
        <div data-name="team" class="team-section team-section-active">
            <section class="about">
                <div class="about__img">
                    <img src="images/GetImage.png" alt="">
                </div>
                <div class="about__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ratione impedit hic alias ipsam fugiat nesciunt, deleniti ab adipisci quia nisi soluta harum vel beatae, dicta tempora provident, architecto ducimus ex quibusdam fugit ipsa laborum ea commodi! Animi asperiores quam nesciunt quae corrupti quasi. Ad eius excepturi adipisci deleniti, vitae labore sint cupiditate enim? Optio nemo ullam dolores libero iusto error obcaecati dicta dolor quasi, itaque, harum sapiente quod, voluptates blanditiis. Atque adipisci architecto, rem illo eos libero sed. Nemo enim totam dolorem sequi amet ad quidem! Iste eos velit quia veritatis dolorem veniam sequi deleniti dolorum, earum perferendis repudiandae.
                </div>
                <div class="about__links">
                    <p>Website:</p>
                    <p>Facebook:</p>
                    <p>Instagram:</p>
                    <p>Other:</p>
                </div>
            </section>
            <section class="personal">
                <p class="personal-title">персонал</p>
            </section>
            <section class="schedule">
                <p class="schedule-title">игры</p>
                <div class="schedule__list">
                    <div class="result__match">
                        <div class="match__title">
                            <h3 class="match__name">группа А</h3>
                        </div>
                        <div class="match__info">
                            <a class="teams__link match-team" href="#">
                                <h3 class="teams__link-title">россия</h3>
                            </a>
                            <div class="match__score">
                                <a href="" class="match__score-title">3-2</a>
                                <div class="match__score-info">
                                    <a href="" class="set__info">25:20</a>
                                    <a href="" class="set__info">21:25</a>
                                    <a href="" class="set__info">9:25</a>
                                    <a href="" class="set__info">25:8</a>
                                    <a href="" class="set__info">13:15</a>
                                </div>
                            </div>
                            <a class="teams__link match-team" href="#">
                                <h3 class="teams__link-title">гонконг</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div data-name="players" class="team-section">
            {{> players }}
        </div>
        <div data-name="statistic" class="team-section"></div>
    </div>