<section class="players">
    <div class="players-list">
        {{!-- <div class="player-card">
            <img class="player-card__img" src="images/OVCHINNIKOV 475.jpg" alt="">
            <div class="player-card__info">
                <div class="card-title">
                    <p class="card-info__number">5</p>
                    <h3 class="card-info__name">Овчинников Илья</h3>
                </div>
                <p class="card-info__birth"><span>Дата рождения: </span>18.08.1988</p>
                <p class="card-info__height"><span>Рост: </span>180</p>
                <div class="card-info__profile">подробнее</div>
            </div>
        </div> --}}
    </div>
</section>