.pools {
    &-wrap {
    width: 70%;
    margin-top: 10px;
    background-color: #ffffff;
    }
    &-title {
        height: 40px;
        color: #ffffff;
        background-color: #2751E8;
        text-align: center;
        text-transform: uppercase;
        line-height: 40px;
    }
    &-menu {
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
        margin-left: 2%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        width: 95%;
        &__item {
            width: 25%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            
            &-active {
                background-color: #2751E8;
                color: #ffffff;
            }
            &:hover {
                background-color: #2751E8;
            }
        }
    }
    &-list {
        &__title {
            height: 30px;
            color: #ffffff;
            background-color: #2751E8;
            text-align: center;
            text-transform: uppercase;
            line-height: 30px;
            display: flex;
            justify-content: space-between;
        }
        &__item {
            display: none;
            &-active {
                display: block;
            }
        }
    }
}
.title-name {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.title-result {
    width: 55%;
    display: flex;
    justify-content: space-around;
    & h4 {
        width: 100px;
    }
}
.comand-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    &__item {
        display: flex;
        justify-content: space-between;
        padding-left: 2%;
        padding-bottom: 5px;
        &:nth-child(2n+1) {
            background-color: #e5e5e5;
        }
        & p {
            width: 100px;
            text-align: center;
        }
    }
}
.item-result {
    width: 56%;
    display: flex;
    justify-content: space-around;
    & p {
        width: 100px;
        text-align: center;
    }
}