.teams {
    width: 70%;
    margin-top: 10px;
    background-color: #ffffff;
    &__title {
        height: 40px;
        color: #ffffff;
        background-color: #2751E8;
        text-align: center;
        text-transform: uppercase;
        line-height: 40px;
        border-bottom: 1px solid #000;
    }
    &__item {
        
    }
    &__link-wrap {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-bottom: 1px solid #000;
        &:nth-child(2n+1) {
            background-color: #e5e5e5;
        }
    }
    &__link {
        width: 250px;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: .3s ease-out;
        cursor: pointer;

    }
    &__link:hover {
        color: #f7aa41;
    }
    &__link-title {
        margin-left: 15px;
        color: #000;
        font-size: 25px;
        &:hover {
            color: #f7aa41;
        }
    }
    &__link-img {
        width: 60px;
        height: 40px;
        &:hover +.teams__link-title {
            color: #f7aa41;
        }
    }
}