.players {

    &-list {

    }
}
.player-card {
    margin: 10px;
    width: 30%;
    display: flex;
    &__img {
        width: 45%;
        height: 45%;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
}
.card-title {
    display: flex;
}
.card-info{
    &__number {
        display: inline-block;
        margin: 0;
        width: 60px;
        height: 60px;
        background-color: #2751E8;
        color: #ffffff;
        text-align: center;
        line-height: 60px;
        font-size: 45px;
        font-weight: bold;
    }
    &__name {
        display: inline-block;
        margin: 0;
        padding-left: 10px;
        font-size: 35px;
        width: 150px;
    }
    &__birth {
        font-size: 18px;
        & span {
            font-family: 'Bebas';
        }
    }
    &__height {
        font-size: 18px;
        & span {
            font-family: 'Bebas';
        }
    }
    &__profile {
        align-self: center;
        width: 130px;
        height: 50px;
        color: #ffffff;
        font-family: 'Bebas';
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        background-color: #2751E8;
        cursor: pointer;
        &:hover {
            background-color: #ffffff;
            color: #2751E8;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }
}