.team-info {
    margin-top: 50px;
}
.info-menu {
    display: flex;
    background-color: #2751E8;
    &__item {
        width: 10%;
        font-family: 'Bebas';
        font-size: 25px;
        line-height: 60px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: #ffffff;
            color: #2751E8;
        }
        &-active {
            background-color: #ffffff;
            color: #2751E8;
        }
    }
}
.team-section {
    display: none;
    background-color: #ffffff;
    &-active {
        display: block;
    }
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        & img {
            width: 100%;
        }
    }
    &__text {
        width: 80%;
    }
    &__links {
        width: 80%;
        margin-top: 5%;
        & p {
            text-align: start;
        }
    }
}
.personal {
    display: flex;
    justify-content: center;
    height: 500px;
    &-title {
        width: 95%;
        height: 12%;
        font-size: 25px;
        line-height: 60px;
        text-align: center;
        color: #2751E8;
        text-transform: uppercase;
        border-bottom: 1px solid #2751E8;
    }
}
.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        width: 95%;
        height: 12%;
        font-size: 25px;
        line-height: 60px;
        text-align: center;
        color: #2751E8;
        text-transform: uppercase;
        border-bottom: 1px solid #2751E8;
    }
    &__list{
        width: 95%;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        &-title {
            line-height: 60px;
            background-color: #e5e5e5;
        }
    }
    &__item-wrap {
        display: flex;
        justify-content: center;
        height: 70px;
    }
    &__item-score {
        width: 15%;
        line-height: 70px;
    }

}
.teams__link-schedule {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .3s ease-out;

}